.headerWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--navigation-color);
    padding: 10px 20px;
    background-color: #fbc1cb;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.infoCustomer {
    display: flex;
    flex-direction: column;
    color: var(--col--dark);
}



@import url(https://fonts.googleapis.com/css?family=Righteous);


.logo {
    display: inline-block;
    color: var(--col--dark);
    font-family: 'Righteous', serif;
    font-size: 25px;
    text-shadow: .03em .03em 0 rgb(133, 112, 182);
    max-width: 250px;
    text-align: center;
}

.logo:after {
    /* content: attr(data-shadow); */
    position: absolute;
    top: .06em;
    left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image:
        linear-gradient(45deg,
            transparent 45%,
            hsla(48, 20%, 90%, 1) 45%,
            hsla(48, 20%, 90%, 1) 55%,
            transparent 0);
    background-size: .05em .05em;
    -webkit-text-fill-color: transparent;
}

.viver {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(./viber1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 2px;
}

.socialIcons {
    margin-top: 5px;
}

.iconHover:hover {
    transition: all .2s;
    opacity: .5;
    cursor: pointer;
}

@media (max-width: 690px) {
    .logo {
        display: block;
        max-width: 100%;
        width: 100%;
        margin-bottom: 5px;
    }
}