.viver {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(./viber1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 2px;
}

.socialIcons {
    margin-top: 5px;
}

.iconHover{
    margin: 2px;
}

.iconHover:hover {
    transition: all .2s;
    opacity: .5;
    cursor: pointer;
}