
body {
    --col--dark: #382E2C;
    --col--light: #ffffff;
    --col--gray6: #746D6B;
    --col--gray5: #9C9796;
    --col--gray4: #CDCDCD;
    --col--gray3: #CDCBCA;
    --col--gray2: #E1E0DF;
    --col--gray1: #F5F5F4;
    --col--primary1: #FFC600;
    --col--primary1variant: #EDB900;
    --col--primary2: #382E2C;
    --col--primary2variant: #000000;
    --col--secondary1: #946037;
    --col--secondary2: #E3E1DB;
    --col--secondary3: #315470;
    --col--secondary4: #A12027;
    --col--secondary5: #328500;
    --col--secondary6: #C31B24;
    --col--utilitySuccess: #328500;
    --col--utilityError: #C31B24;
  }
  